* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body>a {
    background-color: aqua;
    display: block;
}

body>div {
    background-color: green;
    display: inline;
}

.container {
    border: solid 2px brown;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: blue;
    height: 30px;
    width: 30px;
    border: solid 2px yellow;
}